#root {
  width:100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.content{
  padding:40px;
}

.carousel{
  display:flex;
  max-width:92vw;
  gap: 20px;
}

.section1{
  padding:20px;
}

.section1 img{
  width:145.14px;
  height:145.14px;
  border-radius:15px;
}

.section1 hr{
  margin-top:60px;

}

